version: "3.8"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: lms-app
    ports:
      - "8080:8080"
    env_file:
      - .env

    depends_on:
      - mongo

volumes:
  mongo_data:
